
<!DOCTYPE html>
<html>
    <head>
        <title>Chat Room</title>
    </head>
    <body>
        <h1>Welcome to the Chat Room</h1>
        
        <!-- Display messages -->
        <div id="messages"></div>
        
        <!-- Input for user hashtag -->
        <input id="userHashtag" type="text" placeholder="Enter user hashtag..." />
        
        <!-- Input for the message -->
        <input id="messageInput" type="text" placeholder="Type a message..." />
        
        <!-- Send button -->
        <button onclick="sendMessage()">Send</button>
        
        <script>
        // import sanitizeHtml from 'sanitize-html';
        // Connect to WebSocket
        const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/');

        chatSocket.onopen = function(e) {
            console.log('WebSocket connection established!');
        }

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const message = data.message
            const user = data.user
            console.log (data);
            // Display received message
            if (data.type === 'send_message') {
                document.getElementById('messages').innerHTML += user + ' : ' + message + "<br>";
            }
        };

        chatSocket.onclose = function(e){
            console.log('WebSocket connection closed!');
        }

        // Function to send the message
        function sendMessage() {
            const messageInput = document.getElementById('messageInput');
            const userHashtag = document.getElementById('userHashtag');
            
            if (userHashtag.value.trim() === "") {
                alert("Please enter a user hashtag.");
                return;
            }

            // Send message with user hashtag
            //console.log(`${userHashtag.value} : ` + messageInput.value);
            chatSocket.send(JSON.stringify({
                'type': 'send_message',
                'message': messageInput.value,
                'user': userHashtag.value
            }));


            // Clear input fields
            messageInput.value = '';
        }

    </script>
</body>
</html>