<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ping Pong Game</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'game/css/style.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'game/images/140412.png' %}">
</head>
<body>
  <canvas id="canvas" width="600" height="400"></canvas>
  <script src="{% static 'game/js/game.js' %}"></script>
</body>
</html>
