<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription au Jeu</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <canvas id="canvas"></canvas>
    <h2>Commencez</h2> 
    <h3>Entrez les informations de votre compte pour découvrir un nouveau monde de jeu</h3>
    <div>
        <form method="post" action="{% url 'login' %}"> <!-- Ensure action URL matches your view -->
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="Login"></p>
            <h4>ou</h4>
            <a href="https://intra.42.fr" class="btn btn-secondary" target="_self">Se connecter avec 42 Intra</a>
            <br>
            <a href="{% url 'register' %}" class="btn btn-link" target="_self">Vous n'avez pas de compte ? Créez-en un !</a>
        </form>
    </div>
    <script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'game/2d/script.js' %}"></script>
</body>
</html>