* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e; /* Full-page background color */
  height: 100vh;
  overflow: hidden;
}

#header {
  width: 100%;
  text-align: center;
  padding: 10px;
  color: #ffffff;
  background-color: #333333; /* Background color for the score and player names */
}

#score-board {
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #ffffff;
}

#game-container {
  width: 800px;
  height: 600px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  /* border-radius: 50px; */
  background-color: #222222;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

#player1-name,
#player2-name {
  margin: 0 10px; /* Adjust the horizontal margin as needed */
}

#score1,
#score2 {
  margin: 0 100px; /* Adjust the horizontal margin as needed */
}

#timer {
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #ffffff;
  font-weight: bold; /* Make timer text bold */
  margin: 10px 0; /* Space between timer and scores */
}
